@charset "UTF-8";
/* Test SASS (ce commentaire ne sera pas inclu dans le css minifi├®) */
/*! Test SASS (ce commentaire sera inclu dans le css minifi├®) */
/*@import 'variables';
@import 'fonctions';
@import 'animations';*/
/* Fichier principal */
/* Requiert Bootstrap (test├® avec la 3.3.7) */
/*$color_primary: #F5CA45;*/
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes opa {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes vertiPop {
  0% {
    transform: translateY(100vh); }
  100% {
    transform: translateY(0); } }
@keyframes vertiPopOpa {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes horizPop {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateY(0); } }
.opa-anim {
  -webkit-animation-name: opa;
  -moz-animation-name: opa;
  -o-animation-name: opa;
  -ms-animation-name: opa;
  animation-name: opa;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s; }

* {
  border-radius: 0 !important;
  outline: 0; }

::selection {
  background: #BB79D6; }

.d-block {
  display: block !important;
  width: 100% !important; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #333333;
  font-family: Open Sans, "Open Sans", calibri, sans-serif;
  background: #FAFAFA; }

h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Open Sans, "Open Sans", sans-serif; }

a, .a, a:hover, .a:hover, a:visited, .a:visited {
  color: #BB79D6; }

.erreur {
  color: red; }

.mini-but {
  display: inline-block;
  width: 26px;
  height: 28px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; }
  .mini-but:hover {
    background: rgba(0, 0, 0, 0.05); }
  .mini-but .glyphicon {
    top: 50%;
    transform: translateY(-50%); }

.dark .mini-but:hover, #alertList .mini-but:hover {
  background: rgba(255, 255, 255, 0.05); }

.but, .mini-but, .nav-item, .confirm {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.bandeau {
  margin-bottom: 20px; }

.bloc {
  padding: 15px;
  border: 1px solid #DDD;
  border-bottom: 2px solid #E8E8E8;
  background: #FFF; }
  .bloc:hover {
    border-color: #CCC; }

.field {
  position: relative;
  height: 26px;
  background: #f2f2f2;
  z-index: 0;
  /*transition: color $transition_dur;*/ }
  .field > input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2px;
    background: none;
    box-shadow: none;
    border: 1px solid #999999;
    padding-right: 34px; }
    .field > input:not(:focus):invalid {
      color: #e74c3c; }
    .field > input:not([readonly]):focus {
      background: #FFF;
      box-shadow: none;
      border-color: #BB79D6; }
  .field > .field-feedback {
    height: 100%;
    line-height: 100%; }
    .field > .field-feedback > .glyphicon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      right: 0; }
      .field > .field-feedback > .glyphicon::before {
        display: block; }
  .field > input:not([readonly]):focus + .field-feedback > .glyphicon::before {
    content: '\270f'; }
  .field > input:not(:focus):valid + .field-feedback > .glyphicon::before {
    content: '\e013'; }
  .field > input:not(:focus):invalid + .field-feedback > .glyphicon::before {
    content: '\e014'; }
  .field > input[readonly] + .field-feedback > .glyphicon::before, .field > input[disabled] + .field-feedback > .glyphicon::before {
    content: '\e033'; }

.form-group .field {
  display: block;
  width: 100%; }

.tag {
  position: relative;
  display: inline-block;
  max-width: 100%;
  background: #f2f2f2;
  border: 1px solid #999999;
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*transition: $transition_dur;*/ }
  .tag > .icon {
    position: relative;
    top: -1px;
    left: -2px;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    margin-right: 2px; }
  .tag > .delete {
    position: absolute;
    display: none;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    padding: 2px;
    cursor: pointer; }
  .tag.clickable {
    cursor: pointer; }
  .tag.reduce > .tag-text {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden; }
  .tag.reduce.extendhover:hover > .tag-text {
    display: initial;
    width: initial;
    height: initial;
    overflow: auto; }
  .tag:not(.reduce).deletable, .box > .box-content .box-body .box-line .box-line-visib.open .tag, .tag.reduce.extendhover.deletable, .tag.deletable {
    transition: .5s; }
    .tag:not(.reduce).deletable:not(.onhover), .box > .box-content .box-body .box-line .box-line-visib.open .tag:not(.onhover), .tag:not(.reduce).deletable.onhover:hover, .box > .box-content .box-body .box-line .box-line-visib.open .onhover.tag:hover, .tag.reduce.extendhover.deletable:not(.onhover), .tag.reduce.extendhover.deletable.onhover:hover, .tag.deletable:not(.onhover), .tag.deletable.onhover:hover {
      padding-right: 26px; }
      .tag:not(.reduce).deletable:not(.onhover) > .delete, .box > .box-content .box-body .box-line .box-line-visib.open .tag:not(.onhover) > .delete, .tag:not(.reduce).deletable.onhover:hover > .delete, .box > .box-content .box-body .box-line .box-line-visib.open .onhover.tag:hover > .delete, .tag.reduce.extendhover.deletable:not(.onhover) > .delete, .tag.reduce.extendhover.deletable.onhover:hover > .delete, .tag.deletable:not(.onhover) > .delete, .tag.deletable.onhover:hover > .delete {
        display: inline-block;
        -webkit-animation-name: opa;
        -moz-animation-name: opa;
        -o-animation-name: opa;
        -ms-animation-name: opa;
        animation-name: opa;
        -webkit-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        -ms-animation-duration: 0.5s;
        animation-duration: 0.5s; }

.hidable {
  transition: opacity 0.5s;
  -webkit-animation-name: opa;
  -moz-animation-name: opa;
  -o-animation-name: opa;
  -ms-animation-name: opa;
  animation-name: opa;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-duration: 0.5s; }
  .hidable.ishide {
    opacity: 0;
    pointer-events: none; }

.confirm {
  position: absolute;
  display: inline-block;
  z-index: 999999;
  height: 80px;
  min-width: 95px;
  /*height: $confirmwidth;*/
  padding: 3px;
  padding-bottom: 35px;
  cursor: default !important; }
  .confirm.info {
    height: 48px;
    padding-bottom: 0; }
  .confirm.fixed {
    position: fixed; }
  .confirm > .confirm-head {
    font-weight: bold;
    word-wrap: break-word; }
  .confirm > .confirm-body {
    word-wrap: break-word; }
  .confirm > .confirm-foot {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    /*white-space: nowrap; bug sur firefox*/ }
    .confirm > .confirm-foot > *:last-child {
      float: right; }

.dark {
  color: #fff;
  background: #323330; }
  .dark h1, .dark h2, .dark h3 {
    color: #BB79D6; }
  .dark a, .dark .a {
    color: #BB79D6; }
  .dark .bloc {
    background: #2d2e2b;
    border-color: #252624; }
    .dark .bloc:hover {
      border-color: #20211f; }
  .dark .field {
    background: transparent; }
    .dark .field > input:not([readonly]):focus {
      background: #252624; }

.spinner-box {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em; }

.spinner, .but.load::after, .myalert.load::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  /*font-size: 16px;*/
  width: 0.1em;
  height: 0.1em;
  border-radius: 50%;
  background: 50% 50% no-repeat;
  -webkit-transform: translate3d(0);
  -moz-transform: translate3d(0);
  -o-transform: translate3d(0);
  -ms-transform: translate3d(0);
  transform: translate3d(0);
  -webkit-animation: spin 0.5s linear infinite;
  -moz-animation: spin 0.5s linear infinite;
  -o-animation: spin 0.5s linear infinite;
  -ms-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite; }
  .spinner.visible, .visible.but.load::after, .visible.myalert.load::after {
    visibility: visible; }

.spinner, .but.load::after, .myalert.load::after {
  box-shadow: 0.475em 0 0 #333333, 0.4725em -0.0495em 0 rgba(51, 51, 51, 0.96667), 0.4645em -0.099em 0 rgba(51, 51, 51, 0.93333), 0.452em -0.147em 0 rgba(51, 51, 51, 0.9), 0.434em -0.193em 0 rgba(51, 51, 51, 0.86667), 0.4115em -0.2375em 0 rgba(51, 51, 51, 0.83333), 0.3845em -0.279em 0 rgba(51, 51, 51, 0.8), 0.353em -0.318em 0 rgba(51, 51, 51, 0.76667), 0.318em -0.353em 0 rgba(51, 51, 51, 0.73333), 0.279em -0.3845em 0 rgba(51, 51, 51, 0.7), 0.2375em -0.4115em 0 rgba(51, 51, 51, 0.66667), 0.193em -0.434em 0 rgba(51, 51, 51, 0.63333), 0.147em -0.452em 0 rgba(51, 51, 51, 0.6), 0.099em -0.4645em 0 rgba(51, 51, 51, 0.56667), 0.0495em -0.4725em 0 rgba(51, 51, 51, 0.53333), 0 -0.475em 0 rgba(51, 51, 51, 0.5), -0.0495em -0.4725em 0 rgba(51, 51, 51, 0.46667), -0.099em -0.4645em 0 rgba(51, 51, 51, 0.43333), -0.147em -0.452em 0 rgba(51, 51, 51, 0.4), -0.193em -0.434em 0 rgba(51, 51, 51, 0.36667), -0.2375em -0.4115em 0 rgba(51, 51, 51, 0.33333), -0.279em -0.3845em 0 rgba(51, 51, 51, 0.3), -0.318em -0.353em 0 rgba(51, 51, 51, 0.26667), -0.353em -0.318em 0 rgba(51, 51, 51, 0.23333), -0.3845em -0.279em 0 rgba(51, 51, 51, 0.2), -0.4115em -0.2375em 0 rgba(51, 51, 51, 0.16667), -0.434em -0.193em 0 rgba(51, 51, 51, 0.13333), -0.452em -0.147em 0 rgba(51, 51, 51, 0.1), -0.4645em -0.099em 0 rgba(51, 51, 51, 0.06667), -0.4725em -0.0495em 0 rgba(51, 51, 51, 0.03333), -0.475em 0 0 transparent; }

.spinner.l-white, .l-white.but.load::after, .l-white.myalert.load::after {
  box-shadow: 0.475em 0em 0 #fff, 0.4725em -0.0495em 0 rgba(255, 255, 255, 0.96667), 0.4645em -0.099em 0 rgba(255, 255, 255, 0.93333), 0.452em -0.147em 0 rgba(255, 255, 255, 0.9), 0.434em -0.193em 0 rgba(255, 255, 255, 0.86667), 0.4115em -0.2375em 0 rgba(255, 255, 255, 0.83333), 0.3845em -0.279em 0 rgba(255, 255, 255, 0.8), 0.353em -0.318em 0 rgba(255, 255, 255, 0.76667), 0.318em -0.353em 0 rgba(255, 255, 255, 0.73333), 0.279em -0.3845em 0 rgba(255, 255, 255, 0.7), 0.2375em -0.4115em 0 rgba(255, 255, 255, 0.66667), 0.193em -0.434em 0 rgba(255, 255, 255, 0.63333), 0.147em -0.452em 0 rgba(255, 255, 255, 0.6), 0.099em -0.4645em 0 rgba(255, 255, 255, 0.56667), 0.0495em -0.4725em 0 rgba(255, 255, 255, 0.53333), 0em -0.475em 0 rgba(255, 255, 255, 0.5), -0.0495em -0.4725em 0 rgba(255, 255, 255, 0.46667), -0.099em -0.4645em 0 rgba(255, 255, 255, 0.43333), -0.147em -0.452em 0 rgba(255, 255, 255, 0.4), -0.193em -0.434em 0 rgba(255, 255, 255, 0.36667), -0.2375em -0.4115em 0 rgba(255, 255, 255, 0.33333), -0.279em -0.3845em 0 rgba(255, 255, 255, 0.3), -0.318em -0.353em 0 rgba(255, 255, 255, 0.26667), -0.353em -0.318em 0 rgba(255, 255, 255, 0.23333), -0.3845em -0.279em 0 rgba(255, 255, 255, 0.2), -0.4115em -0.2375em 0 rgba(255, 255, 255, 0.16667), -0.434em -0.193em 0 rgba(255, 255, 255, 0.13333), -0.452em -0.147em 0 rgba(255, 255, 255, 0.1), -0.4645em -0.099em 0 rgba(255, 255, 255, 0.06667), -0.4725em -0.0495em 0 rgba(255, 255, 255, 0.03333); }

.but, .myalert {
  color: #333333;
  display: inline-block;
  position: relative;
  padding: 4px;
  border: 1px solid #999999;
  background: #f2f2f2; }
  .but.but, .myalert.but {
    margin-bottom: 2px;
    box-shadow: 0 2px 0 #949494;
    cursor: pointer; }
  .but.but-fh, .myalert.but-fh {
    height: calc(100% - 2px) !important; }
  .but.but:not(.disabled):hover, .myalert.but:not(.disabled):hover {
    background: #f2f2f2;
    text-shadow: 0px 0px 1px rgba(51, 51, 51, 0.1); }
  .but.but:active, .but.disabled, .myalert.disabled, .myalert.but:active, .myalert.disabled {
    box-shadow: none !important;
    transform: translateY(2px); }
  .but.myalert::after, .but.myalert::before, .but.myalert .myalert-debug::before, .myalert.myalert::after, .myalert.myalert::before, .myalert.myalert .myalert-debug::before {
    color: #999999;
    position: absolute;
    top: 0;
    vertical-align: top;
    font-size: 0.8em;
    line-height: 100%; }
  .but.myalert::after, .myalert.myalert::after {
    content: 'Info';
    left: 4px; }
  .but.myalert::before, .myalert.myalert::before {
    content: attr(data-time);
    right: 10px; }
  .but.but-primary, .but.primary, .myalert.but-primary, .myalert.primary {
    border-color: #7f319f;
    /*background: linear-gradient(to right, $color_primary 0%, lighten($color_primary, 5%) 50%, $color_primary 100%);*/
    background: #c58ddc; }
    .but.but-primary.but, .but.primary.but, .myalert.but-primary.but, .myalert.primary.but {
      box-shadow: 0 2px 0 #792e97; }
    .but.but-primary.but:not(.disabled):hover, .but.primary.but:not(.disabled):hover, .myalert.but-primary.but:not(.disabled):hover, .myalert.primary.but:not(.disabled):hover {
      background: #c58ddc; }
    .but.but-primary.myalert::after, .but.primary.myalert::after, .myalert.but-primary.myalert::after, .myalert.primary.myalert::after {
      content: 'Important'; }
    .but.but-primary.myalert::after, .but.but-primary.myalert::before, .but.primary.myalert::after, .but.primary.myalert::before, .myalert.but-primary.myalert::after, .myalert.but-primary.myalert::before, .myalert.primary.myalert::after, .myalert.primary.myalert::before {
      color: #7f319f; }
  .but.but-error, .but.error, .myalert.but-error, .myalert.error {
    background: #E74C3C;
    border-color: #bf2718;
    color: white; }
    .but.but-error.but, .but.error.but, .myalert.but-error.but, .myalert.error.but {
      box-shadow: 0 2px 0 #a82315; }
    .but.but-error.but:not(.disabled):hover, .but.error.but:not(.disabled):hover, .myalert.but-error.but:not(.disabled):hover, .myalert.error.but:not(.disabled):hover {
      background: #ea6153;
      text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1); }
    .but.but-error.myalert::after, .but.error.myalert::after, .myalert.but-error.myalert::after, .myalert.error.myalert::after {
      content: "Erreur " attr(data-code); }
    .but.but-error.myalert::after, .but.but-error.myalert::before, .but.error.myalert::after, .but.error.myalert::before, .myalert.but-error.myalert::after, .myalert.but-error.myalert::before, .myalert.error.myalert::after, .myalert.error.myalert::before {
      color: #921e12; }
  .but.delete, .myalert.delete {
    width: 20px;
    height: 20px;
    line-height: 100%;
    padding: 0; }
    .but.delete:after, .myalert.delete:after {
      content: 'x'; }
  .but.add, .myalert.add {
    line-height: 100%; }
    .but.add:after, .myalert.add:after {
      content: '+'; }
  .but.disabled, .myalert.disabled {
    cursor: default; }
  .but.load, .myalert.load {
    color: transparent !important; }
    .but.load::after, .myalert.load::after {
      visibility: visible; }

a.but {
  text-decoration: none;
  color: #333; }

.table tr td:first-child label, .table tr td:last-child .field {
  display: block; }

.header {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  color: #323330;
  font-family: "Helvetica Neue", Helvetica, Open Sans, "Open Sans", sans-serif;
  font-weight: 600;
  background: #BB79D6;
  min-height: 50px;
  transition: 0.5s; }
  .header .header-content {
    min-height: 50px; }
    .header .header-content .nav-item {
      display: inline-block;
      vertical-align: top;
      height: 50px;
      padding: 15px 10px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.5s; }
      .header .header-content .nav-item.active {
        color: #BB79D6;
        background: #323330;
        cursor: default; }
      .header .header-content .nav-item.logo {
        color: black;
        font-size: 18px;
        cursor: default; }
      .header .header-content .nav-item.compte {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 50px; }
        .header .header-content .nav-item.compte .deco {
          margin-left: 10px; }
      .header .header-content .nav-item.nav-ajax {
        cursor: default; }
        .header .header-content .nav-item.nav-ajax > .ajax-bloc {
          position: relative;
          display: inline-block;
          color: #fff;
          background: #323330;
          padding-left: 5px;
          padding-right: 5px;
          font-weight: lighter;
          font-size: .8em; }
          .header .header-content .nav-item.nav-ajax > .ajax-bloc .spinner-box {
            margin-left: 5px; }
            .header .header-content .nav-item.nav-ajax > .ajax-bloc .spinner-box .glyphicon {
              -webkit-animation-name: opa;
              -moz-animation-name: opa;
              -o-animation-name: opa;
              -ms-animation-name: opa;
              animation-name: opa;
              -webkit-animation-duration: 0.5s;
              -moz-animation-duration: 0.5s;
              -o-animation-duration: 0.5s;
              -ms-animation-duration: 0.5s;
              animation-duration: 0.5s; }
    .header .header-content > .nav-item:first-child {
      margin-left: -15px; }
    .header .header-content .nav-right {
      float: right;
      margin-right: -15px; }

.body-content {
  margin-top: 50px;
  transition: 0.5s; }

.bandeau > *, .page-content > * {
  transition: opacity 0.5s; }

.main-content.no-display .bandeau > *, .main-content.no-display .page-content > * {
  opacity: 0; }

.main-content.no-header .header {
  transform: translateY(calc(-100% + 2px));
  overflow: hidden; }
  .main-content.no-header .header > * .nav-item {
    background: transparent !important; }
.main-content.no-header .body-content {
  margin-top: 2px; }

#alertList {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 0;
  width: 0;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #252624;
  vertical-align: top;
  text-align: right;
  padding-top: 30px !important;
  transition: 0.5s;
  padding-right: 17px;
  right: -17px; }
  #alertList.open {
    overflow-y: auto;
    width: 217px; }
  #alertList .tiroir {
    position: absolute;
    top: 0;
    left: 0; }
  #alertList .cleaner {
    position: absolute;
    top: 0;
    left: 200px;
    transform: translateX(-100%); }
  #alertList.possede:not(.open) {
    width: 22px; }
  #alertList .myalert {
    display: inline-block;
    margin: 5px;
    margin-bottom: 0;
    word-break: break-word;
    width: 190px;
    padding-top: 10px;
    text-align: left;
    transition: opacity 0.5s;
    -webkit-animation-name: vertiPopOpa;
    -moz-animation-name: vertiPopOpa;
    -o-animation-name: vertiPopOpa;
    -ms-animation-name: vertiPopOpa;
    animation-name: vertiPopOpa;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s; }
    #alertList .myalert.no-display {
      opacity: 0; }
    #alertList .myalert .myalert-title {
      margin-bottom: 4px;
      font-size: 1.2em; }
    #alertList .myalert .myalert-title, #alertList .myalert .myalert-debug {
      margin-left: -4px;
      margin-right: -4px;
      padding-left: 4px;
      padding-right: 4px;
      background: rgba(0, 0, 0, 0.1); }
    #alertList .myalert .myalert-debug {
      position: relative;
      margin-top: 10px; }
      #alertList .myalert .myalert-debug:not(::before) {
        font-family: Source code pro;
        font-size: 0.9em; }
      #alertList .myalert .myalert-debug::before {
        content: 'Debug';
        top: -10px;
        color: #921e12; }
    #alertList .myalert .myalert-close {
      display: none; }
      #alertList .myalert .myalert-close::after {
        content: 'x';
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 10px;
        line-height: 10px;
        text-align: center;
        padding: 0;
        cursor: pointer; }
    #alertList .myalert:hover .myalert-close {
      display: block; }
  #alertList:not(.open) .myalert {
    max-width: 200px; }

.main-content.no-header #alertList {
  top: 2px; }

body {
  /*color: $color_main;*/
  /*background: $bg_color;*/ }

.lighter {
  color: #4d4d4d; }

#main_title {
  text-align: center;
  margin: 30px 0; }
  #main_title h1 {
    font-size: 4em; }

#description .lead {
  margin: 0;
  text-align: justify; }

#list-box {
  margin-top: 30px; }

.box {
  padding-bottom: 15px;
  padding-top: 15px; }
  .box > .box-content {
    padding: 5px; }
    .box > .box-content .box-head {
      position: relative;
      height: 30px;
      line-height: 28px;
      padding-right: 100px; }
      .box > .box-content .box-head .box-title {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: capitalize;
        font-size: 1.2em; }
      .box > .box-content .box-head .box-head-right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        text-transform: capitalize;
        text-align: right;
        height: 100%;
        width: 100px;
        overflow: hidden; }
        .box > .box-content .box-head .box-head-right > * {
          display: inline-block;
          height: 100%;
          padding-left: 6px;
          padding-right: 6px;
          padding-top: 0;
          padding-bottom: 0;
          vertical-align: top; }
    .box > .box-content .box-body .box-line {
      /*height: 25px;*/
      line-height: 25px;
      margin-top: 5px;
      margin-bottom: 5px; }
      .box > .box-content .box-body .box-line > * {
        height: 100%; }
      .box > .box-content .box-body .box-line > [class*=' col-']:first-child, .box > .box-content .box-body .box-line > [class^='col-']:first-child {
        padding-left: 0; }
      .box > .box-content .box-body .box-line > [class*=' col-']:last-child, .box > .box-content .box-body .box-line > [class^='col-']:last-child {
        padding-right: 0; }
      .box > .box-content .box-body .box-line.principal .field {
        font-weight: bold; }
      .box > .box-content .box-body .box-line .box-line-visib {
        width: calc(50% - 20px);
        min-height: 27px;
        /*overflow-x: hidden;*/
        white-space: nowrap;
        /*&:not(:hover) {*/
        height: 27px;
        /*}*/ }
        .box > .box-content .box-body .box-line .box-line-visib .tag {
          padding-top: 0;
          padding-bottom: 0; }
          .box > .box-content .box-body .box-line .box-line-visib .tag:not(:last-child) {
            margin-right: 4px; }
          .box > .box-content .box-body .box-line .box-line-visib .tag:first-child:last-child {
            display: block;
            margin-right: 0 !important; }
        .box > .box-content .box-body .box-line .box-line-visib.open {
          height: auto; }
          .box > .box-content .box-body .box-line .box-line-visib.open .tag {
            display: block;
            width: 100%;
            margin-right: 0 !important;
            /*							&>* {
            								display: initial;
            							}*/ }
            .box > .box-content .box-body .box-line .box-line-visib.open .tag:not(:last-child) {
              margin-bottom: 4px; }
      .box > .box-content .box-body .box-line .but-delete {
        float: right; }

.formConnexion .ipPseudo .lbPseudo, .formConnexion .ipMail .lbMail {
  box-shadow: 0 1px 0 #BB79D6; }

.formInscription .ipMail > label :not(.lbMail), .formInscription .ipPseudo > label :not(.lbPseudo) {
  display: none; }

.formInscription .ipMail > label .lbMail, .formInscription .ipPseudo > label .lbPseudo {
  text-transform: capitalize; }

/*# sourceMappingURL=main.css.map */
