
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes opa {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes vertiPop {
	0% {
		transform: translateY(100vh);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes vertiPopOpa {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes horizPop {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateY(0);
	}
}

.opa-anim {
	@include wout-prefix(animation-name, opa);
	@include wout-prefix(animation-duration, 2s);
}