

$color_main: #333333;
$color_dark_main: #fff;
/*$color_primary: #F5CA45;*/
$color_primary: #BB79D6;
$bg_color: #FAFAFA;
$bg_dark_color: #323330;
$color_error: #E74C3C;
$color_delete: $color_error;
$transition_dur: .5s;