
* {
	border-radius: 0 !important;
	outline: 0;
}

::selection {
	background: $color_primary;
}

.d-block {
	display: block !important;
	width: 100% !important;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	color: $color_main;
	font-family: Open Sans, "Open Sans", calibri, sans-serif;
	background: #FAFAFA;
}

h1, h2, h3 {
	font-family: "Helvetica Neue", Helvetica, Open Sans, "Open Sans", sans-serif;
}

a, .a, a:hover, .a:hover, a:visited, .a:visited {
	color: $color_primary;
}

.erreur {
	color: red;
}

$header_height: 50px;

.header {
	display: block;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	color: $bg_dark_color;
	font-family: "Helvetica Neue", Helvetica, Open Sans, "Open Sans", sans-serif;
	font-weight: 600;
	background: $color_primary;
	border-bottom: 2px solid $bg_dark_color;
	min-height: $header_height;
	transition: $transition_dur;

	.header-content {
		min-height: $header_height;

		.nav-item {
			display: inline-block;
			vertical-align: top;
			height: $header_height;
			padding: 15px 10px;
			line-height: 20px;
			transition: $transition_dur;

			&:first-child {
				margin-left: -15px;
			}

			&.active {
				color: $color_primary;
				background: $bg_dark_color;
			}

			&.logo {
				color: black;
				font-size: 18px;
			}

			&.compte {
				float: right;
				padding-top: 0;
				padding-bottom: 0;
				line-height: 50px;

				.deco {
					display: inline-block;
					width: 26px;
					height: 28px;
					line-height: 100%;
					margin-left: 10px;
					text-align: center;
					vertical-align: middle;
					cursor: pointer;
					
					&:hover {
						background: darken($color_primary, 2%);
					}
					
					.glyphicon {
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}

	}
}

.body-content {
	margin-top: $header_height;
	transition: $transition_dur;
}

.bandeau>*, .page-content>* {
	transition: opacity $transition_dur;
}

.main-content.no-display {
	.bandeau>*, .page-content>* {
		opacity: 0;
	}
}

.main-content.no-header {
	.header {
		/*		min-height: 4px;
				height: 4px;*/
		transform: translateY(calc(-100% + 4px));
		overflow: hidden;

		&>* {
			& .nav-item {
				background: transparent !important;
			}
			/*			display: none;*/
		}
	}

	.body-content {
		margin-top: 4px;
	}
}

.bandeau {
	margin-bottom: 20px;
}

.bloc {
	/*display: inline-block;*/
	padding: 15px;
	border: 1px solid #DDD;
	border-bottom: 2px solid #E8E8E8;
	background: #FFF;

	&:hover {
		border-color: #CCC;
	}
}

.field {
	/*margin: 1px;*/
	padding: 2px;
	border: 1px solid #9F9F9F;
	background: #F8F8F8;

	&:focus {
		background: #FFF;
		box-shadow: none;
		border-color: $color_primary;
	}

	&.field-main {
		font-weight: bold;
	}
}

.form-group .field {
	display: block;
	width: 100%;
}

.dark {
	color: $color_dark_main;
	background: $bg_dark_color;

	h1, h2, h3 {
		color: $color_primary;
	}

	a, .a {
		color: $color_primary;
	}

	.bloc {
		background: darken($bg_dark_color, 2%);
		border-color: darken($bg_dark_color, 5%);

		&:hover {
			border-color: darken($bg_dark_color, 7%);
		}
	}

	.field {
		background: transparent;

		&:focus {
			background: darken($bg_dark_color, 5%);
		}
	}
}

.spinner {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    visibility: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 0.1em;
    height: 0.1em;
    border-radius: 50%;
    background: 50% 50% no-repeat;
	@include wout-prefix(transform, translate3d(0));
	@include wout-prefix(animation, spin 0.5s linear infinite);
}

.spinner {
	box-shadow: .475em 0 0 $color_main,.4725em -.0495em 0 rgba($color_main,.966667),.4645em -.099em 0 rgba($color_main,.933333),.452em -.147em 0 rgba($color_main,.9),.434em -.193em 0 rgba($color_main,.866667),.4115em -.2375em 0 rgba($color_main,.833333),.3845em -.279em 0 rgba($color_main,.8),.353em -.318em 0 rgba($color_main,.766667),.318em -.353em 0 rgba($color_main,.733333),.279em -.3845em 0 rgba($color_main,.7),.2375em -.4115em 0 rgba($color_main,.666667),.193em -.434em 0 rgba($color_main,.633333),.147em -.452em 0 rgba($color_main,.6),.099em -.4645em 0 rgba($color_main,.566667),.0495em -.4725em 0 rgba($color_main,.533333),0 -.475em 0 rgba($color_main,.5),-.0495em -.4725em 0 rgba($color_main,.466667),-.099em -.4645em 0 rgba($color_main,.433333),-.147em -.452em 0 rgba($color_main,.4),-.193em -.434em 0 rgba($color_main,.366667),-.2375em -.4115em 0 rgba($color_main,.333333),-.279em -.3845em 0 rgba($color_main,.3),-.318em -.353em 0 rgba($color_main,.266667),-.353em -.318em 0 rgba($color_main,.233333),-.3845em -.279em 0 rgba($color_main,.2),-.4115em -.2375em 0 rgba($color_main,.166667),-.434em -.193em 0 rgba($color_main,.133333),-.452em -.147em 0 rgba($color_main,.1),-.4645em -.099em 0 rgba($color_main,.0666667),-.4725em -.0495em 0 rgba($color_main,.0333333),-.475em 0 0 transparent;
}

.spinner.l-white {
    box-shadow: 0.475em 0em 0 #fff,0.4725em -0.0495em 0 rgba(255,255,255,0.96667),0.4645em -0.099em 0 rgba(255,255,255,0.93333),0.452em -0.147em 0 rgba(255,255,255,0.9),0.434em -0.193em 0 rgba(255,255,255,0.86667),0.4115em -0.2375em 0 rgba(255,255,255,0.83333),0.3845em -0.279em 0 rgba(255,255,255,0.8),0.353em -0.318em 0 rgba(255,255,255,0.76667),0.318em -0.353em 0 rgba(255,255,255,0.73333),0.279em -0.3845em 0 rgba(255,255,255,0.7),0.2375em -0.4115em 0 rgba(255,255,255,0.66667),0.193em -0.434em 0 rgba(255,255,255,0.63333),0.147em -0.452em 0 rgba(255,255,255,0.6),0.099em -0.4645em 0 rgba(255,255,255,0.56667),0.0495em -0.4725em 0 rgba(255,255,255,0.53333),0em -0.475em 0 rgba(255,255,255,0.5),-0.0495em -0.4725em 0 rgba(255,255,255,0.46667),-0.099em -0.4645em 0 rgba(255,255,255,0.43333),-0.147em -0.452em 0 rgba(255,255,255,0.4),-0.193em -0.434em 0 rgba(255,255,255,0.36667),-0.2375em -0.4115em 0 rgba(255,255,255,0.33333),-0.279em -0.3845em 0 rgba(255,255,255,0.3),-0.318em -0.353em 0 rgba(255,255,255,0.26667),-0.353em -0.318em 0 rgba(255,255,255,0.23333),-0.3845em -0.279em 0 rgba(255,255,255,0.2),-0.4115em -0.2375em 0 rgba(255,255,255,0.16667),-0.434em -0.193em 0 rgba(255,255,255,0.13333),-0.452em -0.147em 0 rgba(255,255,255,0.1),-0.4645em -0.099em 0 rgba(255,255,255,0.06667),-0.4725em -0.0495em 0 rgba(255,255,255,0.03333);
}

.but, .myalert {
	color: $color_main;
	display: inline-block;
	position: relative;
	padding: 4px;
	/*border: 1px solid #9F9F9F;*/
	border: 1px solid darken($bg_color, 38%);
	/*background: linear-gradient(to right, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);*/
	background: linear-gradient(to right, darken($bg_color, 6%) 0%, darken($bg_color, 3%) 50%, darken($bg_color, 6%) 100%);

	&.but {
		margin-bottom: 2px;
		box-shadow: 0 2px 0 darken($bg_color, 40%);
		cursor: pointer;
	}

	&.but-fh {
		height: calc(100% - 2px) !important;
	}

	&.but:not(.disabled):hover {
		background: darken($bg_color, 3%);
		text-shadow: 0px 0px 1px rgba($color_main,0.1);
	}

	&.but:active {
		box-shadow: none !important;
		transform: translateY(2px);
	}

	&.myalert::after, &.myalert::before {
		color: darken($bg_color, 38%);
		position: absolute;
		top: 0;
		vertical-align: top;
		font-size: 0.8em;
		line-height: 100%;
	}

	&.myalert::after {
		content: 'Info';
		left: 4px;
	}

	&.myalert::before {
		content: attr(data-time);
		right: 10px;
	}

	&.but-primary, &.primary {
		border-color: darken($color_primary, 25%);
		background: linear-gradient(to right, $color_primary 0%, lighten($color_primary, 5%) 50%, $color_primary 100%);

		&.but {
			box-shadow: 0 2px 0 darken($color_primary, 27%);
		}

		&.but:not(.disabled):hover {
			background: lighten($color_primary, 5%);
		}

		&.myalert {
			&::after {
				content: 'Important';
			}

			&::after, &::before {
				color: darken($color_primary, 25%);
			}
		}
	}

	&.but-error, &.error {
		background: $color_delete;
		border-color: darken($color_delete, 15%);
		color: white;

		&.but {
			box-shadow: 0 2px 0 darken($color_delete, 20%);
		}

		&.but:not(.disabled):hover {
			background: lighten($color_delete, 5%);
			text-shadow: 0px 0px 1px rgba(white,0.1);
		}

		&.myalert {
			&::after {
				content: 'Erreur';
			}

			&::after, &::before {
				color: darken($color_delete, 25%);
			}
		}
	}

	&.but-delete, &.delete {
		width: 20px;
		height: 20px;
		line-height: 100%;
		padding: 0;


		&:after {
			content: 'x';
		}
	}

	&.but-add, &.add {
		line-height: 100%;


		&:after {
			content: '+';
		}
	}

	&.disabled {
		@extend .but:active;
	}

	&.load {
		color: transparent !important;

		&::after {
			@extend .spinner;
			visibility: visible;
		}
	}
}

a.but {
	text-decoration: none;
	color: #333;
}

.table tr td:first-child label, .table tr td:last-child .field {
	display: block;
}

#alertList {

	$alertListWidth: 200px;
	$alertMargin: 5px;
	$scrollBarWidth: 17px;

	position: fixed;
	right: 0;
	top: $header_height;
	bottom: 0;
	width: 0;
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background: darken($bg_dark_color, 5%);
	vertical-align: top;
	text-align: right;
	padding-top: 30px !important;
	transition: $transition_dur;

	padding-right: $scrollBarWidth;
    right: -$scrollBarWidth;


	&.open {
		overflow-y: auto;
		width: $alertListWidth + $scrollBarWidth;
	}

	.tiroir {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: $alertListWidth;
		color: darken($color_dark_main, 10%);
		line-height: 30px;
		text-align: center;
		cursor: pointer;

		&:hover {
			color: $color_dark_main;
		}

		&::after {
			content: 'Fermer';
		}
	}

	&.possede:not(.open) {
		width: $scrollBarWidth + $alertMargin;
	}

	.myalert {
		display: inline-block;
		margin: $alertMargin;
		margin-bottom: 0;
		word-break: break-word;
		width: $alertListWidth - $alertMargin * 2;
		padding-top: 6px;
		text-align: left;
		transition: opacity $transition_dur;

		@include wout-prefix(animation-name, vertiPopOpa);
		@include wout-prefix(animation-duration, 1.5s);

		&.no-display {
			opacity: 0;
		}

		.myalert-title {
			margin-bottom: 4px;
			font-weight: bold;
			font-size: 1.2em;
		}

		.myalert-content {
		}

		.myalert-close {
			display: none;

			&::after {
				content: 'x';
				position: absolute;
				right: 0;
				top: 0;
				width: 10px;
				height: 10px;
				line-height: 10px;
				text-align: center;
				padding: 0;
				cursor: pointer;
			}
		}

		&:hover .myalert-close {
			display: block;
		}
	}

	&:not(.open) .myalert {
		max-width: $alertListWidth;
	}
}

.main-content.no-header #alertList {
	top: 0;
}