

/* Test SASS (ce commentaire ne sera pas inclu dans le css minifié) */

/*! Test SASS (ce commentaire sera inclu dans le css minifié) */

/*@import 'variables';
@import 'fonctions';
@import 'animations';*/
@import 'chnapflat/chnapflat';

body {
	/*color: $color_main;*/
	/*background: $bg_color;*/
}

.lighter {
	color: lighten($color_main, 10%);
}

#main_title {
	text-align: center;
	margin: 30px 0;

	h1 {
		font-size: 4em;
	}
}

#description .lead {
	margin: 0;
	text-align: justify;
}

#list-box {
	margin-top: 30px;
}

.box {
	padding-bottom: 15px;
    padding-top: 15px;

	&>.box-content {
		padding: 5px;

				$boxheadright_width: 100px;
		.box-head {
			position: relative;
			height: 30px;
			line-height: 28px;
			padding-right: $boxheadright_width;

			.box-title {
				display: block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				text-transform: capitalize;
				font-size: 1.2em;
			}

			.box-head-right {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				text-transform: capitalize;
				text-align: right;
				height: 100%;
				width: $boxheadright_width;
				overflow: hidden;

				&>* {
					display: inline-block;
					height: 100%;
					padding-left: 6px;
					padding-right: 6px;
					padding-top: 0;
					padding-bottom: 0;
					vertical-align: top;
				}
			}
		}

		.box-body {

			.box-line {
				/*height: 25px;*/
				line-height: 25px;
				margin-top: 5px;
				margin-bottom: 5px;

				&>* {
					height: 100%;
				}

				&>[class*=' col-']:first-child,&>[class^='col-']:first-child {
					padding-left: 0;
				}

				&>[class*=' col-']:last-child,&>[class^='col-']:last-child {
					padding-right: 0;
				}

				&.principal .field {
					font-weight: bold;
				}

				.box-line-visib {
					width: calc(50% - 20px);
					min-height: 27px;
					/*overflow-x: hidden;*/
					white-space: nowrap;

					/*&:not(:hover) {*/
						height: 27px;
					/*}*/

					.tag {
						padding-top: 0;
						padding-bottom: 0;

						&:not(:last-child) {
							margin-right: 4px;
						}
						
						&:first-child:last-child {
							display: block;
							margin-right: 0 !important;
						}
					}

					&.open/*, &:hover*/ {
						height: auto;

						.tag {
							display: block;
							width: 100%;
							margin-right: 0 !important;
							
							@extend .tag:not(.reduce).deletable;

							&:not(:last-child) {
								margin-bottom: 4px;
							}
							
/*							&>* {
								display: initial;
							}*/
						}
					}
				}

				.but-delete {
					float: right;
				}
			}
		}
	}
}

.formConnexion .ipPseudo .lbPseudo, .formConnexion .ipMail .lbMail {
	box-shadow: 0 1px 0 $color_primary;
}

.formInscription .ipMail>label :not(.lbMail), .formInscription .ipPseudo>label :not(.lbPseudo) {
	display: none;
}

.formInscription .ipMail>label .lbMail, .formInscription .ipPseudo>label .lbPseudo {
	text-transform: capitalize;
}