

/* Test SASS (ce commentaire ne sera pas inclu dans le css minifié) */

/*! Test SASS (ce commentaire sera inclu dans le css minifié) */

@import 'variables';
@import 'fonctions';
@import 'animations';
@import 'style';

body {
	/*color: $color_main;*/
	background: $bg_color;
}

.lighter {
	color: lighten($color_main, 10%);
}

#main_title {
	text-align: center;
	margin: 30px 0;

	h1 {
		font-size: 4em;
	}
}

#description .lead {
	margin: 0;
	text-align: justify;
}

#list-box {
	margin-top: 30px;
}

.box {
	padding-bottom: 15px;
    padding-top: 15px;

	&>.box-content {
		padding: 5px;

		.box-head {
			height: 30px;
			line-height: 28px;

			.box-title {
				font-size: 1.2em;
			}

			.box-head-right {
				float: right;
				height: 100%;

				&>* {
					height: 100%;
					/*margin: 1px;*/
					vertical-align: top;
				}
			}
		}

		.box-body {

			.box-line {
				height: 25px;
				line-height: 25px;
				margin-top: 5px;
				margin-bottom: 5px;

				&>* {
					height: 100%;
				}

				.box-line-visib {
					width: calc(50% - 20px);
				}

				.but-delete {
					float: right;
				}
			}
		}
	}
}

.ipPseudo .lbPseudo, .ipMail .lbMail {
	box-shadow: 0 1px 0 $color_primary;
}

.formInscription .ipMail>label :not(.lbMail), .formInscription .ipPseudo>label :not(.lbPseudo) {
	display: none;
}

.formInscription .ipMail>label .lbMail, .formInscription .ipPseudo>label .lbPseudo {
	text-transform: capitalize;
}